.counter-app {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
}

body {
    background-color: slategrey;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
}

button:disabled {
    background-color: gray;
}